body{
    margin: 0;
    padding: 0;
}

#Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #f9f9f9;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}

#Top>p{
    padding-left: 40%;
}

#Top>div{
    width: 28%;
    display: flex;
}


#Top>div>div{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: center;

}

#Top>div>div>img{
    width: 20%;
    padding-right: 10px;
}

#Top>div>div>p{
    font-size: 12px;
}




#navbar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    position: sticky;
    top: 35px;
    z-index: 1;



}
#navbar>div:nth-child(1){
    width: 27%;
    display: flex;
    align-items: center;
    color: #00a9e0;
    margin-left: 10px;

}

#navbar>div:nth-child(1)>img{
    width: 15%;
    height: 15%;
    margin-right: 5px;
}

#navmid{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#navmid>div{
    text-align: center;
}

#navmid>div>p{
    margin-top: -20px;
    font-size: 13px;
    font-weight: 400;
    color: gray;
}

#navmid>div>h4{
    font-weight: 500;
    cursor: pointer;
}

#navmid>div:nth-child(1):hover .Dropdown-menu{
display: block;

}

#navmid>div:nth-child(1){
    position: relative;
}

.Dropdown-menu a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 13px;
    width: 100%;
}

.Dropdown-menu h5{
    font-weight: 500;
}



.Dropdown-menu{
    text-align: justify;
    margin-top: -25px;
    padding-left: 5%;
    width: 170px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.Dropdown-menu h5:hover{ 
    padding: 7px 0px;
    background-color: #00a9e0;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}
.Dropdown-menu a:hover{
    padding: 7px 0px;
    background-color: #00a9e0;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}


#navbar>div:nth-child(3){
    margin-right:10px ;
}

#navbar input{
    padding: 8px;
    border-radius: 15px;
    border-color: gray;
    font-size: 15px;
    font-weight: 400;
}

#navbar button{
    padding: 8px 15px;
    border-radius: 12px;
    border: 1px solid gray;
    border: none;
    background-color: #00a9e0;
    font-size: 15px;
    font-weight: 400;
    color: white
}

#mid1{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#mid1>img{
    width: 100%;
}

#mid1>div{
position: absolute;
top: 0;
padding-left: 55%;
padding-top: 6%;
text-align: center;
margin: auto;

}

#mid1>div>p:nth-child(1){
    margin-bottom: -20px;
    font-size: 25px;
    font-weight: 600;
    margin-left: -20%;
    color: #00a9e0;
}

#mid1 h1{
    font-size: 140px;
    margin-top: -35px;
    color: #00a9e0;
}

#mid1 span{
    font-size: 45px;
    margin-left: -20px;
    color: #00a9e0;
}

#mid1 h3{
    font-size: 45px;
    margin-top: -120px;
    color: #00a9e0;
}

#mid1>div>p:nth-child(4){
    margin-top: -40px;
    font-size: 30px;
    font-weight: 400;
    color: gray;
}





#mid2{
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: -5px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(227, 248, 255);
}

#mid2>div{
    width: 85%;
    display: flex;

}

#mid2>div>a{
    margin: auto;
    width: 12%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    color: rgb(55, 55, 55);
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
}

#mid3{
    padding: 15px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

#mid3>div{
    width: 15%;
    text-align: center;
    margin: auto;
    margin-right: 10px;
}


#mid3>div>img{
    width: 95%;
}

#mid3 a{
    text-decoration: none;
    color: rgb(86, 86, 86);

}


#mid4{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#mid4 img{
    width: 100%;
    margin-bottom: 20px;
}

#mid4>div:nth-child(1)>div{
    position: absolute;
    top: 0;
    padding-left: 78%;
    padding-top: 5%;
    text-align: right;
    text-align: center;

}

#mid4>div:nth-child(1)>div>p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    margin-left: -20%;
    color: #00a9e0;
}

#mid4>div:nth-child(1)>div>h1{
    font-size: 70px;
    margin-top: -35px;
    color: #00a9e0;
}

#mid4>div:nth-child(1)>div span{
    font-size: 35px;
    margin-left: -20px;
    color: #00a9e0;
}

#mid4>div:nth-child(1)>div>h3{
    font-size: 28px;
    margin-top: -45px;
    color: gray;
    font-weight: 500;
}

#mid4>div:nth-child(1)>div>p:nth-child(4){
    font-size: 15px;
    margin-top: -25px;
    font-weight: 600;
    color: rgb(86, 86, 86);
    font-weight: 600;
}





#mid4>div:nth-child(2)>div{
    position: absolute;
    top: 0;
    padding-left: 42%;
    padding-top: 44%;
    text-align: center;

}

#mid4>div:nth-child(2)>div span{
    font-size: 35px;
    margin-left: -20px;
    color: #00a9e0;
}

#mid4>div:nth-child(2)>div>h1{
    font-size: 70px;
    margin-top: -25px;
    color: #00a9e0;

}

#mid4>div:nth-child(2)>div>p:nth-child(2){
    font-size: 20px;
    font-weight: 600;
    margin-top: -60px;
    font-weight: 600;
    color: #00a9e0;
}


#mid4>div:nth-child(2)>div>h3{
    font-size: 28px;
    margin-top: -15px;
    color: rgb(86, 86, 86);
    font-weight: 400;
}

#mid4>div:nth-child(2)>div>p:nth-child(4){
    font-size: 15px;
    font-weight: 600;
    /* margin-top: -10px; */
    font-weight: 500;
    color: rgb(86, 86, 86);
}

#mid4>div:nth-child(2)>div>h4{
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
    font-weight: 600;
    color: rgb(86, 86, 86);
}


#mid5{
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: -5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#mid5>div{
    width: 85%;
    display: flex;

}

#mid5>div>a{
   margin: auto;
   width: 12%;
   padding: 10px;
   border-radius: 5px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   font-weight: 500;
   background-color: white;
   color: rgb(55, 55, 55);
   border: 1px solid black;
   text-decoration: none;
   text-align: center;

}


#discount{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00a9e0;
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 30px;
}

#discount>div{
    display: flex;
    width: 100%;
}

#discount>div>img{
    width: 15%;
    margin: auto;
}


#services{
    display: flex;
}

#services img{
    width: 25%;
}



#products{
    width: 90%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#products>h1{
    margin-top: 45px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 30px;
}


#products>div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;

}

#products>div>div{
    text-align: center;
} 


#products>div img{
    width:90%;
    /* margin-bottom: -15px; */

}

#products>div p{
    margin-top: -10px;
}


#products hr{    
}



#scrAbu{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

#scrAbu button{
margin-top: 20px;
}

#scrAbu>div:nth-child(3){
    margin-right: -8%;
}

#scrAbu>div:nth-child(3)>input{
padding: 8px;
border-radius: 5px;
border: 1px solid gray;
}

#scrAbu>div:nth-child(3)>button{
    padding: 8px;
    background-color: #00a9e0;
    border: none;
    color: white;
    border-radius: 5px;
}

#scrAbu>div:nth-child(3)>h1{
    color: #00a9e0;
}


#scrAbu img{
   width: 20%;
   margin-top: -15px;
}